<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="http-globalweather-request" doc:name="HTTP Request configuration" doc:id="44a2b99c-e47e-4262-96bf-50466bc78609" >
		<http:request-connection host="${globalweatherprops.host}" port="${globalweatherprops.port}" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="277dea41-1fc4-4d37-9576-d39831d595a7" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
</mule>
